.selector select {
  background: #FFFFFF;
  border: 1px solid #DDE3ED;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-label {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #AFBACC;
}

.selector select:start {
  background: #FFFFFF;
  border: 2px solid #1F61F7;
  box-sizing: border-box;
  border-radius: 4px;
}

.selector label:start {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #1F61F7;
}
